.bingoButton {
    flex: 1;
    margin: clamp(1px, 0.5vw, 3px);
    padding: 5px;

    aspect-ratio: 1;

    background-color: var(--bg-color-1);
    color: var(--fg-color-2);
    border: clamp(1px, 0.5vw, 3px) solid var(--fg-color-1);
    border-radius: 10px;
    font-size: clamp(0.4rem, min(1.8vw, 1.8vh), 4rem);
    font-weight: bold;

    overflow-wrap: anywhere;

    transition: border-color 0.2s ease, transform 0.3s ease;
}

.bingoButton:hover {
    cursor: pointer;
    color: var(--green-color);
    border-color: var(--green-color);

    transform: translateY(-2px);
}

.active {
    color: var(--green-color);
    border-color: var(--green-color);

    transform: translateY(-2px);
}