.bingoButton {
    flex: 1;

    aspect-ratio: 1;

    background-color: var(--bg-color-1);
    color: var(--fg-color-2);
    border: calc(var(--game-size) * 0.004) solid var(--fg-color-1);
    border-radius: 10px;
    font-weight: bold;

    overflow-wrap: anywhere;

    transition:
        border-color 0.2s ease,
        background-color 0.2s ease,
        box-shadow 0.2s ease,
        transform 0.3s ease;

    container-type: inline-size;
}

.bingoButton:hover {
    cursor: pointer;
    border-color: var(--green-color);

    transform: translateY(-2px);
}

.bingoButton:focus-visible {
    outline: 2px solid var(--green-color);
    transform: translateY(-2px);
}

.active {
    color: var(--bg-color-1);
    background-color: var(--green-color);
    border-color: var(--fg-color-2);
    box-shadow: 0 0 10px var(--green-color);

    transform: translateY(-2px);
}

.text {
    display: block;
    font-size: 15cqw;
}