.bingoButton {
    flex: 1;
    margin: 2px;
    padding: 0;

    background-color: var(--bg-color-1);
    color: var(--fg-color-2);
    border: 3px solid var(--fg-color-1);
    border-radius: 10px;

    transition: border-color 0.2s ease, transform 0.3s ease;
}

.bingoButton:hover {
    cursor: pointer;
    color: var(--green-color);
    border-color: var(--green-color);

    transform: translateY(-2px);
}

.active {
    color: var(--green-color);
    border-color: var(--green-color);

    transform: translateY(-2px);
}

.normal {
    font-size: 14px;
}

.big {
    font-size: 18px;
}

.small {
    font-size: 8px;
}