.bingoGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;

    padding: 10px;

    background-color: var(--bg-color-2);
    border-radius: 15px;
    border: 1px solid var(--fg-color-2);
}

.gridRow {
    display: flex;
    justify-content: center;

    flex: 1;
    width: 100%;
}