.bingoGrid {
    display: flex;
    flex-direction: column;
    gap: calc(var(--game-size) * 0.008);

    flex: 1;
    min-height: 0;

    width: var(--game-size);
    padding: calc(var(--game-size) * 0.015);

    background-color: var(--bg-color-2);
    border-radius: 15px;
    border: 1px solid var(--fg-color-2);
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.gridRow {
    display: flex;
    justify-content: center;
    gap: calc(var(--game-size) * 0.008);

    flex: 1;
    width: 100%;
}