.board {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.headingContainer {
    display: flex;
    align-self: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex: 10;
    width: 100%;
}

.heading {
    margin: 0;

    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: var(--heading-color);
    text-shadow: 0 0 10px var(--heading-color);
}

