.board {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    height: 100vh;
}

.headingContainer {
    align-self: start;
    justify-items: center;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.heading {
    margin: 0;

    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: var(--heading-color);
    text-shadow: 0 0 10px var(--heading-color);
}

