.dropdownButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;

    font-size: 18px;

    background-color: var(--bg-color-2);
    color: var(--fg-color-2);
    border: 1px solid var(--fg-color-1);
    border-radius: 6px;

    transition:
        transform 0.2s ease,
        border-color 0.2s ease,
        border-color 0.2s ease;
}

.dropdownButton:hover {
    transform: translateY(-2px);
    color: var(--green-color);
    cursor: pointer;
    border-color: var(--green-color);
}

.grid,
.difficulty {
    width: calc(100% / 3);
}

.timer {
    width: calc((100% - 20px) / 2);
}