.pointCounter {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: var(--game-size);

    margin-top: 20px;

    background-color: var(--green-color);
    border: none;
    border-radius: 10px;

    container-type: size;
}

.pointCounter:hover {
    cursor: pointer;
}

.text {
    text-transform: uppercase;
    font-size: clamp(1rem, 4cqw, 1.5rem);
}

.pointType {
    text-transform: capitalize;
    font-size: clamp(calc(1rem / 1.5), calc(4cqw / 1.5), calc(1.5rem / 1.5));
}