.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    color: var(--fg-color-2);
}

.heading {
    margin: 0 20px;
    margin-bottom: 50px;

    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 10px var(--fg-color-2);
}

@media (max-width: 768px) {
    .heading {
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .heading {
        margin-bottom: 20px;
    }
}