.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    overflow-y: auto;

    color: var(--fg-color-2);
}

.heading {
    margin: 0 20px;
    margin-bottom: 50px;

    font-size: clamp(1.2rem, 6vw, 6rem);
    color: var(--heading-color);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 10px var(--heading-color);
}