.timerContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(var(--game-size) * 0.5);

    margin: 0;
    padding: 0;
    border: 0;

    background-color: var(--bg-color-1);
}

.timerContainer:hover {
    cursor: pointer;
}

.timer {
    font-size: calc(var(--game-size) * 0.12);
    color: var(--fg-color-2);
    text-shadow: calc(var(--game-size) * 0.01) calc(var(--game-size) * 0.01) 0px black;
}