.timerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;

    width: 100%;
    padding-top: calc(var(--game-size) * 0.03);
}

.timer {
    font-size: calc(var(--game-size) * 0.12);
    color: var(--fg-color-2);
    text-shadow: calc(var(--game-size) * 0.01) calc(var(--game-size) * 0.01) 0px black;
}