.timerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.timer {
    font-size: 60px;
    color: var(--fg-color-2);
    text-shadow: 5px 5px 0px black;
}