.dropdown {
    display: flex;
    flex-direction: column;

    width: 30%;
    height: 100%;

    font-size: 13px;

    text-transform: uppercase;
    letter-spacing: 2px;
}

.button {
    height: 40px;

    background-color: var(--bg-color-1);
    color: var(--fg-color-2);

    border: 1px solid var(--fg-color-1);
    border-radius: 6px;

    font-size: 18px;
    text-align: left;

    transition: border-color 0.3s;

    &:hover {
        cursor: pointer;
        border: 1px solid var(--fg-color-2);
    }
}

.label {
    margin-bottom: 6px;
    padding-left: 8px;
    border-left: 3px solid var(--bg-color-1);
}