.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 20%;
    width: 90%;
    padding: 20px;

    background-color: var(--bg-color-2);

    border-radius: 10px;
}

.dropdownContainer {
    display: flex;
    justify-content: center;
}