.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 30%;
    width: 95%;

    background-color: var(--bg-color-2);

    border-radius: 10px;
}

.dropdownContainer {
    display: flex;
    justify-content: space-between;

    margin: 20px;
}