@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --bg-color-1: #1E2326;
  --bg-color-1-brighter: #22282b;
  --bg-color-1-darker: #181c1f;
  --bg-color-2: #272E33;
  --bg-color-2-brighter: #38444d;
  --fg-color-1: #807867;
  --fg-color-2: #D3C6AA;
  --heading-color: #ffd182;
  --green-color: #83C092;

  --game-size: min(90vw, 70vh);
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: var(--bg-color-1);
  overflow: auto;
}

#root {
  min-height: 100dvh;
  width: 100vw;

  display: flex;
  justify-content: center;
}

button {
    font: inherit;
}