@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --bg-color-1: #1E2326;
  --bg-color-2: #272E33;
  --fg-color-1: #A99F89;
  --fg-color-2: #D3C6AA;
  --green-color: #83C092;
}

html, body {
  height: 100vh;
  width: 100vw;

  margin: 0;
  padding: 0;

  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: var(--bg-color-1);
}

#root {
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}